<component name="Menu" extends="Group">
    
    <interface>
        <field id="menuItems" type="node" onChange="onReceiveMenuItems"/>

        <!-- ObserverFields -->
        <field id="selectedMenuIndex" type="integer" />
    </interface>
    
    <script type="text/brightscript" uri="Menu.brs" />
    <script type="text/brightscript" uri="pkg:/components/common/Menu/Styles.brs" />
    <script type="text/brightscript" uri="pkg:/source/helpers/Fonts.brs" />
    
    <children>
    <LayoutGroup id="menuGridLayout">
        <Markupgrid id="menuGrid"/>
    </LayoutGroup>
    </children>
</component>